doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Dashboard
        link(rel="stylesheet" href="/assets/css/bootstrap.min.css")
        link(rel="stylesheet" href="/assets/css/style.css")
    body
        div.container
            div.hidden-xs.col-md-3.ranking-area
                div.col-md-12.tabs
                    span#team-ranking-tab.active Team Rankings
                    span#player-ranking-tab Player Rankings
                table.table.table-striped.table-hover#team-ranking-ranks
                    thead
                        tr
                            th Team name
                            th Wins
                    tbody
                        each val, i in teamRankingList
                            tr
                                td
                                    a(href=`/p/${teamRankingList[i].name}`)= teamRankingList[i].name
                                td= teamRankingList[i].score
                table.table.table-striped.table-hover.hidden#player-ranking-ranks
                    thead
                        tr
                            th Player name
                            th Level
                    tbody
                        each val, i in playerRankingList
                            tr
                                td
                                    a(href=`/u/${playerRankingList[i].name}`)= playerRankingList[i].name
                                td= playerRankingList[i].level
            div.col-xs-12.col-md-6.pushToCenter
                if (message !== '')
                    div.col-xs-12.col-md-12
                        h3.center= message
                table.table.table-striped.table-hover
                    thead
                        tr
                            th Team name
                            th Win/lose
                            th Action
                    tbody#teamTable
                        if (Object.keys(teamData) === 'error')
                            tr
                                td.center= teamData.error
                        else
                            each val, key in teamData
                                tr
                                    td(style="cursor: pointer;" onclick=`document.location.href = '/p/${teamData[key].teamname}'`)= teamData[key].teamname
                                    td #{teamData[key].win} / #{teamData[key].lose}
                                    td
                                        a(class="btn btn-xs btn-danger" style="color: white;text-decoration: none;margin-right:10px;" href=`/v/delete/${teamData[key].teamname}`) Delete
                                        //- a(class="btn btn-xs btn-warning" style="color: white;text-decoration: none;" href=`/v/edit/${teamData[key].teamname}`) Edit
                div.col-xs-12.col-md-6
                    button(class="btn btn-primary col-xs-12 col-md-12" onclick="document.location.href = '/v/add'") Add Team
                div.col-xs-12.col-md-6
                    button(class="btn btn-success col-xs-12 col-md-12" onclick="document.location.href = '/v/match'") Start Match
        script(src="/weblib/rankingTabSwitcher.js")